
/* App.css */
:root{
  --width:600px;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.draggable-box {
  width: var(--width);
  height: 600px;
  background-color: #3498db;
  color: white;
  cursor: move;
  /* display: flex;
  justify-content: center;
  align-items: center; */
 
  position: absolute;
  
  transition: background-color 0.3s ease;
}

.draggable-box.dragging {
  opacity: 0.7;
}
.box{
  background-color: red;
  width: var(--width);
  cursor: drag;
  height: 30px;
}